main{
	width:100%;
	height:100vh;
	color:white;
	background:linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url('../images/me.gif') center center;
	background-size:1000px 718px;
	background-position:center;
	background-repeat:no-repeat;
	background-color:black;
	display:flex;
	justify-content:center;
	align-items:center;
	text-align:center;
}
main h1{
	font-size:3.5rem;
}
main h2{
	font-size:2.5rem;
	margin:2rem 0;
	letter-spacing:3px;
}
main button.MG{
	background-color:transparent;
	border:3px solid white;
	border-radius:20px;
	padding:1rem 2rem;
	margin-top:1rem;
	color:white;
	font-weight:bold;
	cursor:pointer;
}
main button.MG:hover{
	background-color:white;
	color:black;
}
main button.pingping{
	background-color:transparent;
	border:none;
	position:absolute;
	bottom:1rem;
	left:50%;
	transform:translateX(-50%);
	animation:upDown 1s ease-in-out infinite;
	cursor:pointer;
	z-index:1;
}
.ground{
	border-top:3px dotted #ffffff;
	background-color:#dee7c7;
	width:100%;
	height:25px;
	position:absolute;
	bottom:0rem;
	left:0%;

}
.dot {
    position: absolute;
    width: 0.5px;
    height: 0.5px;
    border-radius: 50%;
}
main button.pineapple{
	background-color:transparent;
	border:none;
	position:absolute;
	bottom:0.7rem;
	left:65%;
	cursor:pointer;
	z-index:1;
}
main button.jing{
	background-color:transparent;
	border:none;
	position:absolute;
	bottom:0.7rem;
	left:52%;
	cursor:pointer;
	z-index:1;
}
main button.ddung{
	background-color:transparent;
	border:none;
	position:absolute;
	bottom:0.7rem;
	left:36%;
	cursor:pointer;
	z-index:1;
}

main h2 span::after{
	content:"";
	height:40px;
	width:3px;
	background-color:#fff;
	display:inline-block;
	animation:blink .7s ease-in-out infinite;
}

section{
	height:100vh;
}
.section1{
	width:840px;
	height:420px;
	margin:7px;
	padding:3px;
}
.section1 .section_head{
	padding:3px;
	margin:7px;
	display:flex;
	justify-content:space-between;
}
.section1 .section_body{
	width:840px;
	height:400px;

}
.section1 .section_body ul{
	width:100%;
	height:100%;
	display:flex;
	flex-flow:row wrap;
	justify-content:start;
	align-items:flex-start;
	align-content:flex-start;
}
.section1 .section_body li{
	flex:1 30%;
	height:50%;
}
.section1 .section_body li button:hover{
	width:105%;
	height:105%;
}

@keyframes blink{
	0%{
		opacity:1;
	}
	100%{
		opacity:0;
	}
}
@keyframes upDown{
	0%{
		bottom:1rem;
	}
	50%{
		bottom:1.5rem;
	}
	100%{
		bottom:1rem;
	}
}
