.p{
	width:100%;
	height:100vh;
	color:white;
	background-position:center;
	background-color:black;
	display:flex;
	justify-content:space-around;
	align-content:center;
	flex-flow:column wrap;
}
.stack_page{
	width:100%;
	height:150vh;
	position:relative;
	align-content:center;

}

.stack_page ul{
	display:flex;
	justify-content:space-around;
	flex-wrap:wrap;
}
.stack_page ul li{
	padding-bottom:3px;
	width:30%;
	height:40vh;
	display:flex;
	justify-content:space-around;
	flex-direction:column;
	align-items:center;
}
.img{
	width:300px;
	height:300px;
	transition : all 0.1s;
}