*{
	color:white;
}
body{
	background-color:black;
}
header{
	background-color:white;
	padding:4px;
}
header a{
	color:black;
	font-size:20px;
	font-weight:bold;
}
nav{
	background-color:white;
	margin:10px 20px;
	padding:4px;
	border:5px dashed black;
	text-align:center;
}
nav a{
	letter-spacing:2px;
}
nav a::after{
	content:"ㅣ";
	color:gray;
}
nav a:last-child::after{
	content:"";
}
.division-line{
	border-top:1px solid white;
	margin:30px auto;
	width:300px;
}
a{
	text-decoration:none;
}